@import "tailwindcss";
@import "react-grid-layout/css/styles.css";
@import "react-resizable/css/styles.css";

:root {
}

@theme inline {
  --font-sans: var(--font-plus-jakarta);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: var(--font-plus-jakarta), var(--font-geist-sans), sans-serif;
}
